/* Estilos encapsulados para el perfil de usuario */
#profile-section {
    display: flex;
    justify-content: center;
    height: 28vh;
    margin-top: 25px;
}

#profile-section .profile-card {
    border: 1px solid #000;
    padding: 20px;
    background-color: rgba(255, 255, 255, 36%);
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

#profile-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    pointer-events: none; 
    color: #000; 
}

#profile-section p {
    margin-bottom: 10px;
    color: #fff;
}

#profile-section form {
    margin-top: 20px;
}

#profile-section button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#profile-section button:hover {
    background-color: #ff6600;
}