{{!-- 
<form class="row g-3 mx-4" id="formProduct" style="justify-content: center;">
    <div class="col-md-6">
        <label for="title" class="form-label">Nombre del Producto</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-box"></i></span>
            <input class="form-control" type="text" name="title" id="title" placeholder="Ej. Camisa" required>
        </div>
    </div>

    <div class="col-md-6">
        <label for="description" class="form-label">Descripción</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-file-text"></i></span>
            <input class="form-control" type="text" name="description" id="description" placeholder="Ej. Camisa roja" required>
        </div>
    </div>

    <div class="col-md-6">
        <label for="stock" class="form-label">Stock</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-box"></i></span>
            <input class="form-control" type="number" name="stock" id="stock" placeholder="Ej. 10" required>
        </div>
    </div>

    <div class="col-md-6">
        <label for="thumbnail" class="form-label">Imagen (URL)</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-image"></i></span>
            <input class="form-control" type="text" name="thumbnail" id="thumbnail" placeholder="Ej. image.jpg" required>
        </div>
    </div>

    <div class="col-md-6">
        <label for="category" class="form-label">Categoría</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-grid"></i></span>
            <input class="form-control" type="text" name="category" id="category" placeholder="Ej. Camisas" required>
        </div>
    </div>


    <div class="col-md-6">
        <label for="price" class="form-label">Precio</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
            <input class="form-control" type="number" name="price" id="price" placeholder="Ej. 299.990" required>
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-check mt-4">
            <input name="status" class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">Estado del producto</label>
        </div>
    </div>

    
    <div class="col-md-6">
        <label for="code" class="form-label">Código</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-tag"></i></span>
            <input class="form-control" type="text" name="code" id="code" placeholder="Ej. C01" required>
        </div>
    </div>

    
    <div class="col-12 mt-4">
        <button class="btn btn-primary w-100" style="background-color: #ff6600; border-color: #ff6600;" type="submit" id="add-btn">Registrar producto </button>
    </div>

    <h2 class="mt-4">Eliminar Producto:</h2>

    <div class="col-md-6">
        <label for="id-prod" class="form-label">ID del Producto</label>
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-trash"></i></span>
            <input class="form-control" type="number" name="id-prod" id="id-prod" placeholder="Ej. 12345678">
        </div>
    </div>

    <div class="col-12 mt-4">
        <button class="btn btn-primary w-100" style="background-color: #ff6600; border-color: #ff6600;" type="button" id="delete-btn">Eliminar</button>
    </div>
</form>


<div class="row mt-4" id="list-products">

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
 --}}

 <form class="row g-3 mx-45" id="formProduct">
    <div class="col-md-4">
        <label for="title" class="form-label">Nombre del Producto</label>
        <div class="input-group">
            <input class="form-control" type="text" name="title" id="title" placeholder="Ej: Camisa " required>
        </div>
    </div>

    <div class="col-md-4">
        <label for="description" class="form-label">Descripción</label>
        <div class="input-group">
            <input class="form-control" type="text" name="description" id="description" placeholder="Ej: Camisa roja" required>
        </div>
    </div>

    <div class="col-md-4">
        <label for="stock" class="form-label">Stock</label>
        <div class="input-group">
            <input class="form-control" type="number" name="stock" id="stock" placeholder="Ej: 10" required>
        </div>
    </div>

    <div class="col-md-4">
        <label for="thumbnail" class="form-label">Imagen (Url)</label>
        <div class="input-group">
            <input class="form-control" type="text" name="thumbnail" id="thumbnail" placeholder="Ej:image.jpg" required>
        </div>
    </div>

    <div class="col-md-4">
        <label for="category" class="form-label">Categoría</label>
        <div class="input-group">
            <input class="form-control" type="text" name="category" id="category" placeholder="Ej: Camisas" required>
        </div>
    </div>

    <div class="col-md-4">
        <label for="price" class="form-label">Precio</label>
        <div class="input-group">
            <input class="form-control" type="number" name="price" id="price" placeholder="Ej. 299.990" required>
        </div>
    </div>

    <div class="col-md-4">
        <label for="code" class="form-label">Código</label>
        <div class="input-group">
            <input class="form-control" type="text" name="code" id="code" placeholder="Ej: C01" required>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="form-check mt-4">
            <input name="status" class="form-check-input" type="checkbox" value="true" id="check" checked>
            <label class="form-check-label" for="check">Status del producto</label>
        </div>
    </div>

    <div class="col-md-4 d-flex align-items-end mt-4">
        <button class="btn btn-primary w-100" style="background-color: #ff6600; border-color: #ff6600;" type="submit" id="add-btn">Registrar Producto</button>
    </div>

    <h2 class="col-12 mt-4">Eliminar Producto:</h2>

    <div class="col-md-4">
        <label for="id-prod" class="form-label">ID del Producto:</label>
        <div class="input-group">
            <input class="form-control" type="number" name="id-prod" id="id-prod" placeholder="Ej: 1234568">
        </div>
    </div>

    <div class="col-md-4 d-flex align-items-end mt-4">
        <button class="btn btn-primary w-100" style="background-color: #ff6600; border-color: #ff6600;" type="button" id="delete-btn">Eliminar</button>
    </div>
</form>



{{!-- <div class="row mt-4" id="list-products"> --}}

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
